
  <div style="margin: auto">
    <input class="form-control" type="file" (change)="

    onFileChanged($event)" required="required" >
    <div style="margin-bottom: 10px; margin-top: 10px">
      <button (click)="onUpload($event)" class="button_like_a" type="button" style="margin-right: 10px"
              *ngIf="selectedFile && checkUploadFile">Upload File Mp3
      </button>
<!--      <button #inputSong class="btn btn-danger" (click)="removeSong()"  style="margin-right: 20px; background: #ff3b1b">Reset</button>-->
      <p *ngIf="!checkUploadFile" style="color: red">Uploaded file is not in the correct format</p>
<!--      <p *ngIf="!selectedFile" style="color: red">No file of correct format selected</p>-->
    </div>
    <div id="yourSong" *ngIf="downloadURL" style="margin-bottom: 10px; margin-top: 10px">
      <audio controls>
        <source [src]="downloadURL" style="width: 350px; height: auto">
      </audio>
    </div>
  </div>


