<div class="indx_title_main_wrapper">
  <div class="title_img_overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="indx_title_left_wrapper m24_cover">
          <h2>c1220g1 - vitamin smile</h2>

          <ul>
            <li><a routerLink="/">Home</a></li>
<!--            <li>contact us</li>-->
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>
<div class="contact_icon_section m24_cover">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
        <div class="m24_heading_wrapper m24_cover text-center">

          <h1>contact with us</h1>

          <p>Your next level Product developemnt company assets</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="contact_main m24_cover">
          <div class="contact_rotate">
            <i class="fas fa-phone"></i>
          </div>
          <h4>contact us</h4>
          <p> Hotlinne: 19006677
            <br>PhoneNumber: 0989-999-999</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="contact_main m24_cover">
          <div class="contact_rotate">
            <i class="fas fa-envelope"></i>
          </div>
          <h4>Email</h4>
          <p><a >vitaminsmile@gmail.com</a>
            <br><a >supporsmile@gmail.com</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="contact_main m24_cover">
          <div class="contact_rotate">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <h4>location</h4>
          <p>C1220G1-Vitamin smile
            <br> KĐT MonCity - Hà Nội</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="map_main_wrapper m24_cover">
  <div id="map" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.9227889095896!2d105.76602881461307!3d21.03577519291538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b9444c676b%3A0xe713200541b7456d!2sCodeGym!5e0!3m2!1svi!2s!4v1624270973763!5m2!1svi!2s" width="1500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>
