
  <div class="m24_heading_wrapper">
    <h1>Featured Artists</h1>
  </div>

  <div class="featured_song_slider">
    <div class="owl-carousel owl-theme">
      <div class="item" >
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[0]?.avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[0]?.id]">{{artists[0]?.nameArtist}}</a></p>
            <p class="various_artist_text"><a href="#">51 tracks</a> {{artists[0].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[0]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[1].avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[1]?.id]">{{artists[1].nameArtist}}</a></p>
            <p class="various_artist_text"><a>51 tracks</a> {{artists[1].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[1]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>

            </div>
            <div class="top_song_list_picks featured_list_dropdown">
              <div class="m24_tranding_more_icon">
                <i class="flaticon-menu"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[2].avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[2]?.id]">{{artists[2].nameArtist}}</a></p>
            <p class="various_artist_text"><a href="#">51 tracks</a> {{artists[2].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[2]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>

            </div>
            <div class="top_song_list_picks featured_list_dropdown">
              <div class="m24_tranding_more_icon">
                <i class="flaticon-menu"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item" >
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[3].avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[3]?.id]">{{artists[3].nameArtist}}</a></p>
            <p class="various_artist_text"><a href="#">51 tracks</a> {{artists[3].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[3]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>

            </div>
            <div class="top_song_list_picks featured_list_dropdown">
              <div class="m24_tranding_more_icon">
                <i class="flaticon-menu"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[4].avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[4]?.id]">{{artists[4].nameArtist}}</a></p>
            <p class="various_artist_text"><a href="#">51 tracks</a> {{artists[4].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[4]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>
            </div>
            <div class="top_song_list_picks featured_list_dropdown">
              <div class="m24_tranding_more_icon">
                <i class="flaticon-menu"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[5].avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[5]?.id]">{{artists[5].nameArtist}}</a></p>
            <p class="various_artist_text"><a>51 tracks</a> {{artists[5].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[5]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>

            </div>
            <div class="top_song_list_picks featured_list_dropdown">
              <div class="m24_tranding_more_icon">
                <i class="flaticon-menu"></i>
              </div>
              <ul class="tranding_more_option">
                <li><a href="#"><span class="opt_icon"><i class="flaticon-playlist"></i></span>Add To playlist</a></li>
                <li><a href="#"><span class="opt_icon"><i class="flaticon-star"></i></span>favourite</a></li>
                <li><a href="#"><span class="opt_icon"><i class="flaticon-share"></i></span>share</a></li>
                <li><a href="#"><span class="opt_icon"><i class="flaticon-files-and-folders"></i></span>view lyrics</a>
                </li>
                <li><a href="#"><span class="opt_icon"><i class="flaticon-trash"></i></span>delete</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


